.navbar {
  background: #0f4c5c;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.8em;
  margin-right: 15px;
  color: #eee;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-cart {
  margin-left: auto;
}
